.mainPage {
  display: flex;
  flex-direction: column;
  padding: 24px;
  min-height: 100%;
  color: #fff;
  background-image: url('../../assets/image/HeaderBanner.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;


  .wrapperPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .wrapperLogin {
      width: 330px;
    }
  }

  .counter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    span {
      text-align: left;

      &:first-child {
        font-family: Montserrat;
        font-size: 48px;
        font-weight: 500;
        line-height: 59px;
      }

      &:last-child {
        font-family: Open Sans;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
      }
    }

  }



}
@media screen and (min-width: 680px) {
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .left {
      display: flex;
      flex-direction: column;
      gap: 16px;
      h2 {
        font-size: 30px;
        font-weight: 700;
      }
      button{

      }
      .description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 85px;
        max-width: 665px;

        span {
          font-family: Open Sans;
          font-size: 18px;
          font-weight: 600;
          line-height: 130%;
        }
      }

      .btn {
        margin-top: 8px;
      }

    }
  }
}
.header {
  display: none;
}


@media screen and (max-width: 680px) {
  .mainPage {
    .wrapperPage {

    }

    .counter {
      display: none;
    }

    .content {
      display: flex;
      font-size: 30px;

      .left {
        display: flex;
        flex-direction: column;
        gap: 14px;
        span {
          font-size: 16px;
        }
      }



    }
  }
  .left {
    padding: 24px;
  }
  .wrapperLogin {
    display: none;
  }

  .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    background: white;

    button {
      width: 25%;
    }
  }


}
