.mainPage {
  display: flex;
  flex-direction: column;
  background-image: url('../../assets/image/HeaderBanner.png');
  color: #FFFFFF;
  background-size: cover;
  background-repeat: no-repeat;

  h2 {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
  }

  span {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 300;
  }

  .header {
    display: flex;
    justify-content: space-between;
    color: black;
    background-color: #FFFFFF;

    p {
      padding: 14px 20px 0 14px;
      margin: 0;

      span {
        color: red;
      }
    }

    button {
      width: 101px;
    }
  }

  .wrapperContent {
    display: flex;
    flex-direction: column;
    padding: 0 16px 24px 16px;
    margin-top: 182px;

    .content {
      .description {
        display: flex;
        flex-direction: column;
        gap: 14px;

        .counter {
          display: flex;
          flex-direction: column;

          span:first-child {
            font-family: Montserrat;
            font-size: 30px;
            font-weight: 600;
          }
        }


      }

      button {
        margin-top: 20px;
        width: 100%;
      }
    }
  }

  .wrapperLogin {
    display: none;
  }
}

@media (min-width: 768px) {
  .mainPage {
    span {
      font-size: 18px;
    }

    .header {
      display: none;
    }

    .wrapperContent {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 60px;

      .content {
        display: flex;
        flex-direction: column;
        gap: 16px;
        button{
          width: 260px;
        }
      }

      .counter {
        position: absolute;
        top: 24px;
        left: 24px;
      }
    }

    .wrapperLogin {
      display: block;
      width: 331px;
      height: 480px;
    }
  }
}

@media (min-width: 992px) {
  .mainPage {
    .wrapperContent {
      margin-bottom: 40px;
    }

    span {
      width: 600px;
      font-size: 18px;
    }

  }
}